@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: royalblue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  position: relative;
}

.container {
  width: 40vw;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  padding: 1em;
}

.container input {
  width: 100%;
  padding: 1em;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  padding-block: 0.5em;
}

.qrcode-container {
  display: flex;
  margin-block: 0.5rem;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
  height: 0;
}

.qrcode-container.animate {
  height: 400px;
}

.btns {
  display: flex;
  gap: 1rem;
}

.btn {
  width: 100%;
  padding: 1em;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  padding-block: 0.8em;
  cursor: pointer;
  border: none;
  color: white;
  transition: all 0.5s ease;
}

.generate {
  background-color: royalblue;
}

.btn:active {
  transform: scale(0.9);
}

.dwnld {
  background-color: red;
}

.qrcode-container img {
  width: 300px;
  height: 300px;
}

.settingscontainer {
  position: absolute;
  top: 10px;
  right: 10px;
}

.settingsbtn {
  width: auto;
  background-color: firebrick;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.settingsmenu {
  position: absolute;
  background-color: white;
  padding: 1em;
  left: -13rem;
  width: 20vw;
  border-radius: 10px;
  opacity: 0;
  transition: all 0.5s ease;
}

.settingsmenu.visible {
  opacity: 1;
}

#sizeinput,
#colorinput,
#bgcolorinput,
#formatselectinput {
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  font-size: 1rem;
  width: 100%;
  margin-block: 1rem;
}

#colorinput,
#bgcolorinput {
  border-bottom: none;
}

.sizeinputcontainer {
  font-size: 1.2rem;
}

#formatselectinput {
  border: 1px solid black;
  padding: 0.5em;
  font-size: 1rem !important;
  text-transform: uppercase;
}
